/**
 * CSS rules for the visibility module.
 */

.button .dashicons {
	line-height: 26px;
	height: 26px;
	float: left;
	margin-right: 6px;
}

.widget-control-actions .csb-visibility {
	float: left;
	margin-right: 5px;
}