/**
 * CSS rules for the visibility module.
 */

.button .dashicons {
	line-height: 26px;
	height: 26px;
	float: left;
	margin-right: 6px;
}

.widget-control-actions .csb-visibility-button {
	margin: 0 5px;
}

.csb-visibility {
	margin: 0 -15px 15px;
}

.csb-option-row {
	margin: 0 -15px;
	padding: 0 15px 12px;
}

.csb-visibility-inner {
	border: 1px solid #E5E5E5;
	border-left: 0;
	border-right: 0;
	padding: 12px 15px 0;
	background: #FAFAFA;
}

.csb-visibility-inner .toggle-action {
	display: block;
	margin: -15px -15px 0;
	padding: 15px 15px 0;
	cursor: pointer;
	border: 0;
	color: #0074A2;
}

.csb-visibility-inner .csb-option-row:hover {
	background: #F0F0F0;
	color: #2EA2CC;
}

.csb-visibility-inner .csb-action {
	margin-bottom: 0;
}

.csb-visibility-inner label {
	display: block;
	border-top: 1px solid #E8E8E8;
	margin: 0 -15px 5px;
	padding: 5px 15px;
}

.csb-visibility-inner .chosen-container {
	display: block !important;
	width: 100% !important;
}
