/*@import url('rtl.css');*/

#defaultsidebarspage p.submit{
	padding : 0 0 10px;
	clear: both;
}

#poststuff.defaultsdetailscontainer h2{
	border-bottom:0;
	margin-bottom:5px;
}

#defaultsforposts, #defaultsforpages{
padding:0 10px;
background:#fcfcfc;
overflow: hidden;
}

.defaultsSelector{
margin-bottom:30px;
}

.cscolright{
	clear:right;
	float:right;
	margin:0;
	overflow:hidden;
	padding:0;
	width:49%;
}

.cscolleft{
	margin:0;
	overflow:hidden;
	padding:0;
	width:49%;
}

#poststuff h3.csh3title{
	clear:left;
	font-size:1.3em;
	margin-bottom:15px;
	margin-top:20px;
	padding:0 0 3px;
        background:none;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-style: italic;
	font-weight: normal;
	margin-top:10px;
	border-bottom:1px solid #ccc;
}

#poststuff h3.csh3title:hover{
    background: url('/wp-admin/images/arrows.png') no-repeat top right;
}

.widgets-php div.widget-liquid-left {
    width: 100%;
}

div.widget-liquid-right {
	position: fixed;
	background: #ECECEC url('img/menu-shadow.png') left top repeat-y;
	right:0;
	top:0;
	padding: 32px 5px;
}

.widgets-php #wpcontent, .widgets-php #wpfooter {
    margin-right: 59%;
    position:relative;
}

.cs-no-mp6.widgets-php #wpcontent, .cs-no-mp6.widgets-php #wpfooter{
    margin-right: 320px;
}

.widgets-php #widgets-left {
    margin-right: 0 !important;
}

.widgets-php #footer{
	background: #fff;
	margin-right: 0px;
	padding-right: 20px;
}


.widgets-php .wrap{

}

.widgets-php .wrap h2{
    margin-bottom: 10px;
}

.cs-options{
    margin-top: 12px;
    text-align:right
}



.widget-liquid-right .scrollbar { position: relative; float: right; width: 10px; }
.widget-liquid-right .track {  height: 100%; width:10px; position: relative; padding: 0 1px; }
.widget-liquid-right .thumb { height: 20px; width: 10px; cursor: pointer; overflow: hidden; position: absolute; top: 0;  background-color: #666; margin-top:10px;}
.cs-no-mp6 .widget-liquid-right .thumb {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.widget-liquid-right .thumb .end { overflow: hidden; height: 5px; width: 13px; }
.widget-liquid-right .viewport { position: relative; margin-right: 20px;}
.widget-liquid-right .overview { list-style: none; position: absolute; left: 0; top: 0; width: 99%; margin-left:1%;}
.disable .thumb { cursor:default; background: #ccc }

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}


#cs-widgets-extra{
    display:none;
}
#cs-title-options {
    overflow: hidden;
    zoom: 1;
    margin-top: 10px;
}
#cs-title-options h2{
    margin-left: 5px;
    float: left;
    margin-bottom: 0;
    border:none;
}

.sidebar-form{
    margin: 0 15px;
}
.sidebar-form label {
    display:block;
}
.sidebar-form .submit{
    text-align: right;
    margin: 0;
    padding: 1em 0;
}
.sidebar-form .description{
    margin-top: 5px;
    text-align: right;
}

.sidebar_name, .sidebar_description{
    width: 100%;
}

div#widgets-right .sidebar-name>h3{
    padding: 15px;
}

div#widgets-right .widgets-sortables .sidebar-name>h3{
    padding: 15px 7px;
}

.widgets-holder-wrap.closed>div:nth-child(2){
    display: none;
}

.cs-message{
    margin: .5em 0;
    padding: 10px;
    font-weight:bolder;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.cs-update{
background: lightYellow;
border: 1px solid #E6DB55;
}

.cs-error{
background: #FFEBE8;
border: 1px solid #C00;
}

.cs-edit-sidebar{
    color: #DFDFDF;
    text-shadow: 0 1px 0 #FFFFFF;
    text-align: right;
    padding: 2px 10px;
    background: #F1F1F1;
}

.closed .cs-edit-sidebar{
    display: none;
}
.cs-edit-sidebar a{
    text-decoration: none;
}

#defaultsidebarspage .hndle, #defaultsidebarspage .csh3title {
    cursor: pointer;
}

#submitwhere{
    position:absolute;
    bottom:0;
    right: 35px;
    display: none;
    padding:0;
}

#customsidebarspage #col-right{
    width: 62%;
}

.widgets_access .widget-liquid-right{
    position: static;
}


#oldbrowsererror{
    display:none;
}

#defaultsidebarspage .postbox{
    position:static;
}

#defaultsidebarspage .inside{
    position:static;
}

.cs-options .ajax-feedback,
#new-sidebar-holder .ajax-feedback {
    height:16px;
    vertical-align: middle;
    margin: 0 5px;
}

#new-sidebar-holder h3 .ajax-feedback {
    vertical-align: bottom;
}

.sidebar-name h3 .ajax-feedback {
    height:16px;
    vertical-align: bottom;
    margin: 0 5px;
}

body.appearance_page_customsidebars .wrap h2 {
    float: none;
}
body.appearance_page_customsidebars #poststuff h2 {
    margin-top: 0;
}

.widgets-php #TB_ajaxContent #poststuff {
    min-width: 0;
}

.widgets-php #TB_ajaxContent h2 {
    float: none;
}

.widgets-php #TB_ajaxContent select {
    clear: left;
}

/* RTL Styles */

.rtl div.widget-liquid-right {
    float:left;
    right: auto;
    left:0;
    background: #ECECEC url('../../../wp-admin/images/menu-shadow.png') right top repeat-y;
}

.rtl.widgets-php #widgets-left {
    margin-left: 0 !important;
}

.rtl.widgets-php #wpcontent, .rtl.widgets-php #wpfooter {
    margin-left: 325px;
    margin-right: 165px;
}

.rtl.widgets-php.folded #wpcontent, .rtl.widgets-php.folded #wpfooter {
    margin-left: 325px;
    margin-right: 52px;
}

.rtl #cs-title-options h2 {
    float: right;
    margin-right: 5px;
}

.rtl .widget-liquid-right .viewport {
    margin-right: 5px;
    margin-left: 14px;
}

.rtl .widget-liquid-right .scrollbar {
    float:left;
}

.rtl .cs-options{
    text-align:left;
}

.rtl .sidebar-form .submit {
    text-align: left;
}


.rtl #TB_ajaxWindowTitle { float:right; } 
.rtl #TB_closeAjaxWindow { float: left; }