/**
 * CSS rules for the visibility module.
 */

.inactive-sidebar .csb-visibility {
	display: none;
}

.widget-control-actions {
    .button {
        margin: 0 0 0 5px;
    }
    .csb-visibility-button {
        @media screen and (max-width: 782px) {
            .dashicons {
                line-height: normal;
                height: auto;
                font-size: 19px;
                @media screen and (max-width: 400px) {
                    display: none;
                }
            }
        }
    }
    @media screen and (max-width: 782px) {
        .alignright,
        .alignleft {
            float: none;
        }
        .alignright {
            padding-top: 10px;
            text-align: right;
            .button {
                margin-bottom: 5px;
            }
        }
    }
}

.csb-visibility {
	margin: 0 -15px 15px;
}

.csb-option-row {
	margin: 0 -15px;
	padding: 0 15px 12px;
	position: relative;
}

.csb-visibility-inner {
	border: 1px solid #E5E5E5;
	border-left: 0;
	border-right: 0;
	padding: 12px 15px 0;
	background: #FAFAFA;

	.toggle-action {
		display: block;
		margin: -15px -15px 0;
		padding: 15px 15px 0;
		cursor: pointer;
		border: 0;
		/*color: #0074A2;*/
	}

	.csb-option-row {
		&:hover {
			background: #F4F4F4;
			&.csb-always {
				&:hover {
					background: transparent;
				}
			}
		}
		&.csb-action {
			.action {
				top: 15px;
			}
		}
		.clear-filter {
			&:hover {
				color: #C00;
			}
		}
		.action {
			position: absolute;
			right: 15px;
			top: 7px;
			z-index: 1;
			color: #AAA;
			cursor: pointer;
			font-size: 20px;
			&:hover {
				color: #000;
			}
		}
	}

	.csb-action {
		margin-bottom: 0;
		label {
			cursor: default;
		}
		b {
			padding: 5px;
			border: 1px solid transparent;
			cursor: pointer;
			margin-left: -6px;
		}
		&:hover b {
			padding: 5px;
			background: #FFF;
			border: 1px solid #DDD;
		}
	}

	.csb-always {
		padding-bottom: 0;
		text-align: center;
		font-style: italic;
		label {
			margin-bottom: 0;
			color: #AAA;
			cursor: default;
		}
	}

	.csb-and {
		margin-right: 10px;
		font-weight: bold;
	}

	label {
		display: block;
		border-top: 1px solid #E8E8E8;
		margin: 0 -15px 5px;
		padding: 5px 15px;
	}

	.csb-detail-row {
		label {
			border: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		.detail {
			margin-top: 10px;
		}
	}

	.chosen-container {
		display: block !important;
		width: 100% !important;
	}

	.dropdown {
		position: absolute;
		z-index: 2;
		background: #FFF;
		border: 1px solid #DDD;
		right: 10px;
		top: 20px;
		color: #555;
		box-shadow: 0 1px 10px rgba(0,0,0,0.15);
		li {
			padding: 5px 15px;
			cursor: pointer;
			margin: 0;
			&:hover {
				color: #000;
				background: #EEE;
			}
			&.csb-group,
			&.csb-group:hover {
				color: #999;
				font-weight: bold;
				background: #F8F8F8;
				padding-left: 5px;
				cursor: default;
			}
		}
	}

}
